<header class="navbar navbar-inverse" role="banner">

    <div class="container">

      <div class="navbar-header">
        <a href="/" class="navbar-brand navbar-brand-img">
          <img src="assets/logo.png" alt="MVP Ready">
        </a>
        
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
      </div> <!-- /.navbar-header -->


      <nav class="collapse navbar-collapse" role="navigation">

        <ul class="nav navbar-nav navbar-right mainnav-menu">

          <li class="active">
            <a href="/index.html">Home</a>
          </li>    

          <li class="">
            <a href="/features.html">Features</a>
          </li>      

          <li class="">
            <a href="/faq.html">FAQ</a>
          </li>

          <li class="">
            <a href="/pricing.html">Pricing</a>
          </li>   

          <li class="">
            <a href="/contact.html">Contact</a>
          </li>     

          <!-- <li class="dropdown">

            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            Dropdown
            <i class="mainnav-caret"></i>
            </a>

            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="./page-notifications.html">
                <i class="fa fa-bell"></i> 
                &nbsp;&nbsp;Notifications
                </a>
              </li>     

              <li>
                <a href="./components-icons.html">
                <i class="fa fa-smile-o"></i> 
                &nbsp;&nbsp;Font Icons
                </a>
              </li> 

            </ul>

          </li> -->

          <li>
            <a href="../admin/account-login-social.html">Login</a>
          </li>    

        </ul>

        <ul class="nav navbar-nav navbar-social navbar-left">   

          <li>
            <a href="javascript;" class="ui-tooltip" title="Facebook" data-placement="bottom">
              <i class="fa fa-facebook"></i>
              <span class="navbar-social-label">Facebook</span>
            </a>
          </li>   

          <li>
            <a href="javascript:;" class="ui-tooltip" title="Twitter" data-placement="bottom">
              <i class="fa fa-twitter"></i>
              <span class="navbar-social-label">Twitter</span>
            </a>
          </li>   

          <li>
            <a href="javascript:;" class="ui-tooltip" title="Google+" data-placement="bottom">
              <i class="fa fa-google-plus"></i>
              <span class="navbar-social-label">Google+</span>
            </a>
          </li>         

        </ul>

      </nav>

    </div> <!-- /.container -->

  </header>
