<header class="navbar navbar-inverse" role="banner">

    <div class="container">

      <div class="navbar-header">
        <a href="/" class="navbar-brand navbar-brand-img">
          <img src="assets/logo.png" alt="lingo Universal">
        </a>
        
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
      </div> <!-- /.navbar-header -->


      <nav class="collapse navbar-collapse" role="navigation">

        <ul class="nav navbar-nav navbar-right mainnav-menu">

          <li class="active">
            <a href="/index.html">Home</a>
          </li>    

          <li class="">
            <a href="/features.html">Features</a>
          </li>      


          <li class="">
            <a href="/services.html">Services</a>
          </li>   

          <li class="">
            <a href="/contact.html">Contact</a>
          </li>     

          <li>
            <a href="/about.html">About Us</a>
          </li>

          <li>
            <a href="/users/sign_in.html">Login</a>
          </li>     

        </ul>

        

      </nav>

    </div> <!-- /.container -->

  </header>
