
<body class=" ">


    <div class="masthead">
      
      <div class="container">

        <h1 class="masthead-subtitle">
          About Us
        </h1>
        

      </div> <!-- /.container -->

    </div> <!-- /.masthead -->



    <div class="content">

      <div class="container">
    	
        <div class="layout layout-stack-sm layout-main-right">
          
          <div class="col-sm-3 layout-sidebar">

            <div class="nav-layout-sidebar-skip">
              <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a> 
            </div>

            <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
                <li class="active">
                <a href="#about-us" data-toggle="tab">
                <i class="fa fa-bullhorn"></i> 
                &nbsp;&nbsp;About Us
                </a>
              </li>

              <li>
                <a href="#team" data-toggle="tab">
                <i class="fa fa-dollar"></i> 
                &nbsp;&nbsp;Our Team
                </a>
              </li>

              <li>
                <a href="#advisors" data-toggle="tab">
                <i class="fa fa-signal"></i> 
                &nbsp;&nbsp;Advisors
                </a>
              </li>
            </ul>

          </div> <!-- /.layout-sidebar -->


          <div class="col-sm-9 layout-main">

            <div class="tab-content stacked-content">
                <div class="tab-pane fade in active" id="about-us">
                  
                  <h3>About Us</h3>
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                </div>

                <div class="tab-pane fade" id="team">
                  <h3>Our Team</h3>
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                </div>

                <div class="tab-pane fade" id="advisors">
                  <h3>Our Advisors</h3>
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                </div>

              </div>
            
          </div> <!-- /.layout-main -->

        </div> <!-- /.layout -->

      </div> <!-- /.container -->

    </div> <!-- /.content -->


</div> <!-- /#wrapper -->
</body>
</html>