<body class=" ">

<div id="wrapper">

    <div class="masthead">
      
      <div class="container">

        <h1 class="masthead-subtitle">
          Contact Us
        </h1>
        

      </div> <!-- /.container -->

    </div> <!-- /.masthead -->



    <div class="content">

      <div class="container">

        <div class="layout layout-stack-sm layout-main-left">

          <div class="col-sm-8 layout-main">
            <h4 class="content-title">
              <span>Get in Touch</span>
            </h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, illo, animi, et, corrupti libero impedit voluptate minima adipisci perspiciatis necessitatibus ratione eligendi expedita alias nemo reprehenderit ab doloremque deserunt totam?</p>

            <p>Consequuntur ad et facilis obcaecati eaque aliquid minus rerum exercitationem!</p>

            <br>
            <br>

            <h4 class="content-title">
              <span>Send an Email</span>
            </h4>

            <form class="form form-horizontal">
              <div class="form-group">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <label>Name: <span class="required">*</span></label>
                  <input class="form-control" id="name" name="name" type="text" value="" required="">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <label>Email: <span class="required">*</span></label>
                  <input class="form-control" type="email" id="email" name="email" value="" required="">
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label>Subject: <span class="required">*</span></label>
                  <input class="form-control" id="subject" name="subject" type="text" value="" required="">
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label>Message: <span class="required">*</span></label>
                  <textarea class="form-control" id="text" name="text" rows="6" cols="40" required=""></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button class="btn btn-primary" type="submit">Submit Message</button>
                </div>
              </div>

             
            </form>
          </div> <!-- /.col -->

          <div class="col-sm-4 layout-sidebar">
            <h4 class="content-title">
              <span>Office Location</span>
            </h4>

            <ul class="icons-list">
              <li>
                <i class="icon-li fa fa-map-marker"></i>
                123 Northwest Way <br>
                Las Vegas, NV 89183
              </li>

              <li>
                <i class="icon-li fa fa-phone"></i>
                +1 702 123 4567
              </li>

              <li>
                <i class="icon-li fa fa-envelope"></i>
                <a href="mailto:info@mvpready.com">info@mvpready.com</a>
              </li>
            </ul>

            <br><br>

            <h4 class="content-title">
              <span>Business Hours</span>
            </h4>

            <ul class="icons-list">
              <li>
                <i class="icon-li fa fa-clock-o"></i>
                Monday to Friday - 9am to 5pm
              </li>

              <li>
                <i class="icon-li fa fa-clock-o"></i>
                Saturday - 9am to 2pm
              </li>

              <li>
                <i class="icon-li fa fa-clock-o"></i>
                Sunday - Closed
              </li>
            </ul>

          </div> <!-- /.col -->
          
        </div> <!-- /.row -->

      </div> <!-- /.container -->   	

    </div> <!-- /.content -->


</div> <!-- /#wrapper -->


</body>
</html>