
<body class=" ">


    <div class="masthead">
      
      <div class="container">

        <h1 class="masthead-subtitle">
          Features
        </h1>
        

      </div> <!-- /.container -->

    </div> <!-- /.masthead -->



    <div class="content">

      <div class="container">
    	
        <div class="layout layout-stack-sm layout-main-right">
          
          <div class="col-sm-3 layout-sidebar">

            <div class="nav-layout-sidebar-skip">
              <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a> 
            </div>

            <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
                <li class="active">
                <a href="#profile-tab" data-toggle="tab">
                <i class="fa fa-mobile"></i> 
                &nbsp;&nbsp;Mobile First Design
                </a>
              </li>

              <li>
                <a href="#password-tab" data-toggle="tab">
                <i class="fa fa-desktop"></i> 
                &nbsp;&nbsp;Wide Browser Support
                </a>
              </li>

              <li>
                <a href="#messaging" data-toggle="tab">
                <i class="fa fa-bullhorn"></i> 
                &nbsp;&nbsp;Notifications
                </a>
              </li>

              <li>
                <a href="#payments" data-toggle="tab">
                <i class="fa fa-dollar"></i> 
                &nbsp;&nbsp;Payment Settings
                </a>
              </li>

              <li>
                <a href="#reports" data-toggle="tab">
                <i class="fa fa-signal"></i> 
                &nbsp;&nbsp;Configure Reports
                </a>
              </li>
            </ul>

          </div> <!-- /.layout-sidebar -->


          <div class="col-sm-9 layout-main">

            <div class="tab-content stacked-content">
                <div class="tab-pane fade in active" id="profile-tab">
                  
                  <h3 class="content-title">
                    <span>Mobile First Design</span>
                  </h3>

                  <img src="assets/tour/iphone.png" alt="" class="pull-right animated fadeInRightBig" style="margin-bottom: 30px; margin-left: 50px;">

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum nisi velit, sed facilisis diam semper quis. Donec nisl urna, ullamcorper volutpat commodo ut, tempor in metus. Aenean eu lacus quis tellus sodales rhoncus. In ultrices nibh sit amet turpis tempus interdum. Ut elementum, massa eget placerat iaculis, nulla eros congue massa, at eleifend metus risus a leo. Cras venenatis felis in tempor volutpat. Nam a luctus tortor, ut posuere ligula. Duis elementum justo id erat bibendum fermentum. Pellentesque at pretium mi. Vivamus id felis et odio tincidunt tincidunt non vestibulum ante. Sed dui massa, euismod eget malesuada sit amet, porta eu sem. Nam vel laoreet tellus. Vivamus faucibus nibh sed mauris fringilla, sed pharetra turpis molestie. Vivamus sit amet feugiat ligula, eu aliquam dui. Proin bibendum, justo non aliquet egestas, enim eros viverra elit, sit amet porttitor purus tortor in nibh. Nulla facilisi.</p>

                  <p>Donec molestie ac metus vel faucibus. Morbi id velit lobortis, adipiscing ante a, vehicula dui. Integer dignissim a nulla quis tincidunt. Donec velit tellus, bibendum id purus sit amet, malesuada tincidunt sem. Pellentesque et mollis mauris, a imperdiet arcu. Aenean velit nisi, tempus nec adipiscing sit amet, convallis vel nulla. Donec nec congue quam. Sed eu nunc justo. Aenean molestie ipsum eu diam aliquam bibendum.</p>

                  <p>Quisque laoreet mi vel lectus adipiscing, a mollis nibh aliquet. Nam vel gravida arcu, at vehicula sapien. Phasellus vitae lectus leo. Aenean posuere tellus vel orci accumsan bibendum. Nunc erat est, consequat eget urna sed, congue sodales metus. Maecenas lorem velit, lacinia vel justo at, tristique tincidunt tortor. Morbi quis diam justo. Ut imperdiet enim a arcu luctus tristique. Etiam neque orci, ultrices feugiat ultrices vitae, venenatis et lorem. Nunc adipiscing sed nulla non malesuada. Ut pulvinar risus nec magna congue, eget ultricies lectus viverra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Maecenas iaculis dui vitae est varius, quis egestas augue placerat.</p>

                </div> <!-- /.tab-pane -->

                <div class="tab-pane fade" id="password-tab">
                  <h3 class="content-title">
                    <span>Wide Browser Support</span>
                  </h3>

                  <img src="assets/tour/browser.png" alt="" class="animated fadeInUpBig img-responsive">

                  <br>

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum nisi velit, sed facilisis diam semper quis. Donec nisl urna, ullamcorper volutpat commodo ut, tempor in metus. Aenean eu lacus quis tellus sodales rhoncus. In ultrices nibh sit amet turpis tempus interdum. Ut elementum, massa eget placerat iaculis, nulla eros congue massa, at eleifend metus risus a leo. Cras venenatis felis in tempor volutpat. Nam a luctus tortor, ut posuere ligula. Duis elementum justo id erat bibendum fermentum. Pellentesque at pretium mi. Vivamus id felis et odio tincidunt tincidunt non vestibulum ante. Sed dui massa, euismod eget malesuada sit amet, porta eu sem. Nam vel laoreet tellus. Vivamus faucibus nibh sed mauris fringilla, sed pharetra turpis molestie. Vivamus sit amet feugiat ligula, eu aliquam dui. Proin bibendum, justo non aliquet egestas, enim eros viverra elit, sit amet porttitor purus tortor in nibh. Nulla facilisi.</p>

                  <p>Donec molestie ac metus vel faucibus. Morbi id velit lobortis, adipiscing ante a, vehicula dui. Integer dignissim a nulla quis tincidunt. Donec velit tellus, bibendum id purus sit amet, malesuada tincidunt sem. Pellentesque et mollis mauris, a imperdiet arcu. Aenean velit nisi, tempus nec adipiscing sit amet, convallis vel nulla. Donec nec congue quam. Sed eu nunc justo. Aenean molestie ipsum eu diam aliquam bibendum.</p>
                  
                </div> <!-- /.tab-pane -->

                <div class="tab-pane fade" id="messaging">
                  <h3>Notifications</h3>
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                </div>

                <div class="tab-pane fade" id="payments">
                  <h3>Payments Settings</h3>
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                </div>

                <div class="tab-pane fade" id="reports">
                  <h3>Configure Reports</h3>
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                </div>

              </div>
            
          </div> <!-- /.layout-main -->

        </div> <!-- /.layout -->

      </div> <!-- /.container -->

    </div> <!-- /.content -->


</div> <!-- /#wrapper -->
</body>
</html>