<div class="masthead">
      
      <div class="container">

        <h1 class="masthead-subtitle">
          Services
        </h1>
        

      </div> <!-- /.container -->

    </div> <!-- /.masthead -->


    <div class="content">
    	
    	<div class="container">

        <div class="text-center">
          <h2>Signature Services from Lingo Universal!</h2>
          
          <br>

          <br><br><br><br>
        </div>

    		<div class="row">

		        <div class="col-sm-12 col-md-10 col-md-offset-1">

		          <div class="row">

		            <div class="col-sm-4">

		              <div class="pricing-plan">

		                <div class="pricing-header">
		                  <h3 class="pricing-plan-title">Translation</h3>				    		
		                  <p class="pricing-plan-label">For All</p>   
		                </div>

		                <!-- <div class="pricing-plan-price">
		                  <span class="pricing-plan-amount">$9</span> / month
		                </div> -->

		                <ul class="pricing-plan-details">	    			
		                  <li>first point</li>
		                  <li>second point</li>	   
		                  <li>third point</li>	
		                  <li>fourth point</li>	    	 	    				
		                </ul>

		                <a href="../services/translations.html" class="btn btn-primary">Learn More</a>

		              </div> <!-- /.pricing-plan -->

		            </div> <!-- /.col -->


		            <div class="col-sm-4">

		              <div class="pricing-plan">

		                <div class="pricing-header">				    		
		                  <h3 class="pricing-plan-title">Interpretation</h3>					    		
		                  <p class="pricing-plan-label">For any body</p>  				    		
		                </div>

		               <!--  <div class="pricing-plan-price">
		                  <span class="pricing-plan-amount">$24</span> / month
		                </div> -->

		                <ul class="pricing-plan-details">	    			
		                  <li>first point</li>
		                  <li>second point</li>	   
		                  <li>third point</li>	
		                  <li>fourth point</li>	    	 	    				
		                </ul>

		                <a href="../services/interpretation.html" class="btn btn-primary">Learn More</a>

		              </div> <!-- /.pricing-plan -->

		            </div> <!-- /.col -->


		            <div class="col-sm-4">
		              <div class="pricing-plan">

		                <div class="pricing-plan-ribbon-secondary ui-tooltip" title="" data-original-title="Best Value!">
		                  <i class="fa fa-star"></i>
		                </div>

		                <div class="pricing-header">
		                  <h3 class="pricing-plan-title">Linguistic IT Support</h3>				    		
		                  <p class="pricing-plan-label">For Clients</p>   
		                </div>

		               <!--  <div class="pricing-plan-price">
		                  <span class="pricing-plan-amount">$49</span> / month
		                </div>
 -->
		                <ul class="pricing-plan-details">	    			
		                  <li>first point</li>
		                  <li>second point</li>	   
		                  <li>third point</li>	
		                  <li>fourth point</li>	    	 	    				
		                </ul>

		                <a href="../services/linguistic.html" class="btn btn-primary">Learn More</a>

		              </div> <!-- /.pricing-plan -->

		            </div> <!-- /.col -->

		          </div> <!-- /.row -->

		        </div> <!-- /.col -->

		      </div> <!-- /.row -->

          <br>

          <h4 class="text-center">
            Need More?
            <span>We Offer larger services too, Plese </span>
            <a href="/contact">Contact Us &nbsp;<i class="fa fa-external-link"></i></a>
          </h4>

    		
    	</div> <!-- /.container -->

    </div> <!-- /.content -->


</div> <!-- /#wrapper -->